<section class="py-5">
    <div class="container-fluid">
        <h2 class="my-5">Bunları da Kaçırmayın</h2>
        <a href="#" class="btn btn-warning me-2 mb-2">Taze Fındık</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Ayçiçek Yağı</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Tuzlu Çubuk Kraker</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Doğal Yoğurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Vanilyalı Puding</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Baharatlı Tavuk Kanatları</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Organik Bakliyat</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Krem Peynir</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Dana Köfte</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Taze Çay</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Çikolatalı Gofret</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Mısır Gevreği</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Ev Yapımı Turşu</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Tam Buğday Unu</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Izgara Köfte</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Zeytin Ezmesi</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Mevsim Salata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sade Kek</a>
    </div>
</section>
