<div class="col-md-2 col-sm-6">
    <div class="footer-menu">
        <h5 class="widget-title">Menüler</h5>
        <ul class="menu-list list-unstyled">
            <li class="menu-item">
                <a href="#" class="nav-link">Hakkımızda</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Hizmet Koşulları</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Hikayemiz</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Kariyer</a>
            </li>            
        </ul>
    </div>
</div>
<div class="col-md-2 col-sm-6">
    <div class="footer-menu">
        <h5 class="widget-title">Müşteri Hizmetleri</h5>
        <ul class="menu-list list-unstyled">
            <li class="menu-item">
                <a href="#" class="nav-link">İletişim</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Güvenlik Politikaları</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">İade ve Geri Ödemeler</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Teslimat Bilgileri</a>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-1 col-sm-6">
   @*  <div class="footer-menu">
        <h5 class="widget-title">Customer Service</h5>
        <ul class="menu-list list-unstyled">
            <li class="menu-item">
                <a href="#" class="nav-link">FAQ</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Privacy Policy</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Returns & Refunds</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Cookie Guidelines</a>
            </li>
            <li class="menu-item">
                <a href="#" class="nav-link">Delivery Information</a>
            </li>
        </ul>
    </div> *@
</div>
<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="footer-menu">
        <h5 class="widget-title">Abone Olun</h5>
        <p>Muhteşem tekliflerimiz hakkında güncelleme almak için bültenimize abone olun.</p>
        <form class="d-flex mt-3 gap-0" role="newsletter">
            <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="Email Adresi" aria-label="Email Address">
            <button class="btn btn-dark rounded-end rounded-0" type="submit">👍</button>
        </form>
    </div>
</div>
